[build]
  builder = "nixpacks"
  buildCommand = "npm install && npm run build"
  startCommand = "npm run start"

[deploy]
  startCommand = "npm run start"
  healthcheckPath = "/"
  healthcheckTimeout = 100

[build.environment]
  NODE_ENV = "production"
  NPM_CONFIG_PRODUCTION = "false"
  NODE_OPTIONS = "--max_old_space_size=4096"

[deploy.environment]
  NODE_ENV = "production"
  PORT = "3000"

[[redirects]]
  source = "/*"
  destination = "/index.html"
  status = 200
